@font-face {
    font-family: FoxSans;
    src: url("../fonts/Fox Sans TRF Bold.ttf");
}

html {
    font-family: FoxSans;
    height: 100%;
    width: 100%;
}



//*     Scrollbar     */
::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0;
    background-color: #88B04B;
}

::-webkit-scrollbar-button:hover {
    background-color: #6a8939;
}

::-webkit-scrollbar-thumb {
    background-color: #6a8939;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f7b34;
}

::-webkit-scrollbar-track {
    background-color: #2f2f2f;
}

::-webkit-scrollbar-track:hover {
    background-color: #2f2f2f;
}

::-webkit-scrollbar {
    width: 20px;
}

#layout,
#menu,
.menu-link, .content {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#layout.active #menu {
    left: 0;
}

#layout.active .menu-link {
    left: 0;
}

#content {
    position: relative;
    width: 100%;
    background-color: #efefef;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    padding: 0;
    width: 100%;
    height: 3em;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: #88B04B;
}

#menucontent {
    display: none;
}

#layout.active #menucontent {
    display: block;
}

#logo {
    width: auto;
    height: 3em;
    margin-left: 4em;
}

.zoek-link {
    height: 3em;
    position: absolute;
    width: 3em;
    float: right;
    right: 0;
    top: 0;
}

.zoek-link:hover {
    background-color: #2f2f2f;
}

.zoek-link img {
    width: 3em;
    height: 3em;
}

#zoekbalk.active {
    height: 3em;
    background-color: #2f2f2f;
    width: 30%;
    z-index: 9;
    right: 3em;
    float: right;
    position: relative;
}

#zoekbalk form {
    display: none;
}

#zoekbalk.active input[type="text"] {
    background: transparent;
    color: white;
    border: none;
    position: fixed;
    height: 3em;
    width: 30%;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

#zoekbalk.active form {
    display: block;
}

#main {
    display: flex;
    top: 3em;
    position: fixed;
    height: calc(100% - 3em);
    width: 100%;
    left: 0;
}

.itembox {
    height: 100%;
    margin-left: 10px;
    overflow: auto;
}

.veiling {
    float: left;
    width: 350px;
    flex: 1;
    height: 178px;
    background-color: #ACACAC;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 1vw;
}
.titel{
    margin-left:10px;
    color:white;
    font-size:15px;
}
.veilingimagebox {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height: 70%;
    width: 55%;
}

.veilingimagebox img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.beschrijving {
    color: white;
    float: left;
    margin: 10px;
    vertical-align: middle;
    height: 70%;
    width: 20%;
}

#menu {
    color: white;
    width: 0;
    height: 100%;
    position: relative;
    float: left;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #3a3a3a;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

#menu.active {
    width: 20em;
    left: 0;

}

.menu-link {
    position: fixed;
    display: block;
    z-index: 10;
    width: 3em;
    height: 3em;

}

.menu-link img {
    width: 3em;
    height: 3em;
}

.menu-link:hover,
.menu-link:focus {
    background: #2f2f2f;
}

#userdeel {
    width: 100%;
}

#userdeel h1 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

#profielimage {
    max-width: 80%;
    max-height: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.sidebarbutton {
    color: #DFDFDF;
    background: none;
    border: none;
    width: 100%;
    height: 2em;
    font-size: 20px;
    border-bottom: 2px black solid;

}

.sidebarbutton:hover {
    background-color: #2f2f2f;
}

#rubrieken {
}

#rubrieken h1 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

@media (min-width: 48em) {

    #layout {
        padding-left: 100px; /* left col width "#menu" */
        left: 0;
    }

    #menu.active {
        left: 0;
        display: block;
    }

    #layout.active .menu-link {
        left: 0;

    }

}

@media (max-width: 48em) {
    #main {
        top: 6em;
        height: calc(100% - 6em);
    }

    #content {
        margin: 0;
        overflow: auto;
    }

    #layout.active #menu {
        width: 100%;
        margin: 0;
    }

    #layout.active {
        position: relative;
        left: 0;
    }

    .zoek-link {
        height: 6em;
        position: absolute;
        width: 6em;
        float: right;
        right: 0;
        top: 0;
        z-index: 99999;
    }

    .zoek-link img {
        margin: 1em;
        height: 4em;
        width: 4em;
        float: right;
    }

    #zoekbalk.active {
        height: 6em;
        background-color: #2f2f2f;
        width: calc(100% - 6em);
        z-index: 99999999;
        float: right;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
    }

    #zoekbalk form {
        width: calc(100% - 6em);
        display: none;
    }

    #zoekbalk.active input[type="text"] {
        background: transparent;
        color: white;
        border: none;
        position: fixed;
        height: 4.7em;
        width: calc(100% - 6em);
        text-align: center;
        margin: 0;
        font-size: 20px;
    }

    #zoekbalk.active form {
        display: block;
    }

    .itembox {
        margin: 0;
    }

    .veiling {
        margin: 0;
        float: left;
        flex: 1;
        height: 200px;
        width: 100%;
        background-color: #ACACAC;
        font-size: 4vw;
        border-bottom: 2px #2f2f2f solid;
    }

    .veilingimagebox {
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        height: 70%;
        width: 55%;
    }

    .veilingimagebox img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .beschrijving {
        color: white;
        float: right;
        margin: 10px;
        height: 70%;
        width: 35%;
    }

    #menu.active {
        position: absolute;
    }

    #header {
        height: 6em;
        z-index: 9;
    }

    .menu-link {
        height: 6em;
        width: 6em;
    }

    .menu-link img {
        width: 6em;
        height: 6em;
    }

    #logo {
        display: block;
        height: 5em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
    }

    #profielimage {
        max-width: 40%;
        max-height: 40%;
        margin-left: 30%;
        margin-right: 30%;

    }
}
