
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 0px;
    }

    #layout.active .menu-link {
        left: 0px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 3em;
    left: 0;
    background-color: #efefef;
}
#header{
    padding:0;
    width:100%;
    height: 3em;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color:#88B04B;
}
#logo{
    width:auto;
    height: 3em;
    margin-left:4em;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    width: 20em;
    position: fixed;
    top: 3em;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #ACACAC;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#menu.active{
    width:0px;
}

.menu-link {
    position: fixed;
    display: block;
    z-index: 10;
    width: 3em;
    height: 3em;

}
.menu-link img{
    width:3em;
    height:3em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #2f2f2f;
    }



/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    #layout {
        padding-left: 100px; /* left col width "#menu" */
        left: 0;
    }
    #menu.active {
        left: 0px;
		display:block;
    }


    #layout.active .menu-link {
        left: 0px;

    }

}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
	    #layout.active #menu {
            width:100%;
            margin:0;
    }
    #layout.active {
        position: relative;
        left: 0px;
		scroll:none;

    }
	#content{
	top:6em;
	}
	#menu{
		top:6em;
        width:0%;
	}
    #menu.active{

    }
	#header{
	height:6em;
		z-index:9;
	}
	.menu-link{
	height:6em;
		width:6em;
	}
	.menu-link img{
    width:6em;
    height:6em;
}

    #logo{
        display:block;
	height:5em;
        margin-right: auto;
        margin-left:auto;
    }
}
